body {margin-left:auto;
    margin-right:auto;
    background-color: #C6C0A0;
    font-family : Georgia
    width: 80%;}

h2 {color: #7d775c;
    font-size: larger;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px; }

h3 {color: #7D775C;
    font-size:larger;
    font-weight: bold;
    letter-spacing: 1px;}

li {padding-top: 12px;}

.vert {color: green}

#dure {color:red;
        font-size:larger;
        text-decoration: underline;}

#container {font-family: 75%;
  background-color: white;
  margin-top: 20px;
  margin-left: 400px;
  margin-right: 200px;
  margin-bottom: 50px;
  padding-right: 10%;
  padding-left: 10%;
  -moz-border-radius: 10px;
 -webkit-border-radius: 10px;
 box-shadow: 8px 8px 12px #aaa;
 -moz-box-shadow: 8px 8px 12px #aaa;
 -webkit-box-shadow: 8px 8px 12px #aaa;}

 #menu { float: left;
   position: absolute;
margin-top: -420px;
padding: 50px;
 font: bold 1em "georgia" ,verdana;
 list-style-type: none;
}

#menu a {
  float: left;
 color: #508768;
 text-decoration: none;
 display: block;
 margin: 10px;
 color: #508768;
 text-decoration: none;
 line-height:2em;
 width:auto;
 border:1px solid blue;
 background-color: #BDD7B5;
 text-align: center;}


#menu a:hover, #menu a:focus {
 color: #BDD7B5;
 background-color: #508768;
}
