body {background-image: url(https://i.pinimg.com/originals/25/e8/ca/25e8ca5bb50bcd31b2ab1f06492ed00b.jpg)}

.principal {margin-left: 33%;
            margin-bottom: 5%;
            margin-top: 2%;}

#connect {margin-left: 40%;}
