* {box-sizing: border-box;}

body {background-image: url(https://framapiaf.s3.framasoft.org/framapiaf/media_attachments/files/000/054/932/original/36f955e963a448e6.jpg)}

h1 {text-align: center;
    color: white;
    font-size: 50px;
    margin-bottom: 20px;}

h2 {text-align: center;
    color: white;
    font-size: 30px;}

nav { height: 60px;
     text-align: center;
   margin-bottom: 30px;}

ul {margin-left: 5%;
  margin-right: auto;}
li {margin-right: 8%;}

.btn-primary {width: 100%;
margin-bottom: 3%}

.btn-secondary {margin-bottom: 30px;
        width: auto;
        height: auto;
        margin-left: auto;
        margin-right: auto;}

.accordion-item {background-color: white;
                margin-bottom: 20px;}

.accordion-body {margin-bottom: 10px;}

.carousel {height: 100px;}

h2 a {color: white;}
